*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Arima', cursive;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
}

header h1{
    font-size: 100px;
    padding: 20px;
    border-radius: 0.9em 0em;
    background-color: #99e6d7ef;
}