*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Arima', cursive;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
}

header h1{
    font-size: 100px;
    padding: 20px;
    border-radius: 0.9em 0em;
    background-color: #d4e699ef;
}

.negrita {
    font-weight: bold;
}

.resaltar{
    background-color: #e699d8ef;
    border-radius: 0.4em;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 100%;
}

div h2 {
    font-size: 75px;
    padding: 15px;
}

div h4 {
    font-size: 50px;
    padding: 10px;
}

div h5 {
    font-size: 35px;
    padding: 5px;
}

div p {
    text-align: justify;
    font-size: 25px;
    padding: 5px;
    margin: 5px;
}

div img {
    width: 500px;
    height: 100%;
    margin: 20px;
}